.themes,
.themes * {
  box-sizing: border-box;
}

.themes {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.light-theme {
  background: var(--color-surface-primary, #ffffff);
  padding: 128px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 960px;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.light {
  color: var(--color-text-primary, #000000);
  text-align: left;
  font-family: var(--display-medium-font-family, "A1Serif-Bold", sans-serif);
  font-size: var(--display-medium-font-size, 48px);
  line-height: var(--display-medium-line-height, 56px);
  font-weight: var(--display-medium-font-weight, 700);
  position: relative;
}

.definitions {
  display: flex;
  flex-direction: column;
  gap: var(--space-s, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section {
  background: var(--color-surface-primary, #ffffff);
  border-style: solid;
  border-color: var(--color-outline, #4f4f4f);
  border-width: 1px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text {
  color: var(--color-text-primary, #000000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text2 {
  color: var(--color-text-secondary, #4f4f4f);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text3 {
  color: var(--color-text-primary, #000000);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section2 {
  background: var(--color-surface-secondary, #f2f2f2);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section3 {
  background: var(--color-surface-highlight-red, #fdc9c4);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text4 {
  color: var(--color-text-secondary-red, #460000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section4 {
  background: var(--color-surface-highlight-blue, #e2ecff);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section5 {
  background: var(--color-surface-inverted, #000000);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text5 {
  color: var(--color-text-inverted, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text6 {
  color: var(--color-text-inverted, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section6 {
  background: var(--color-surface-primary, #ffffff);
  border-style: solid;
  border-color: var(--color-outline, #4f4f4f);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 704px;
  position: relative;
}

.text7 {
  color: var(--color-link, #b90a05);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text8 {
  color: var(--color-link-hovered, #ca0b05);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text9 {
  color: var(--color-link-pressed, #d30b06);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text10 {
  color: var(--color-link-visited, #820000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section7 {
  background: var(--color-button-primary, #eb140a);
  border-radius: 4px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text11 {
  color: var(--color-on-button-primary, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text12 {
  color: var(--color-on-button-primary, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section8 {
  background: var(--color-button-primary-hovered, #d31209);
  border-radius: 4px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section9 {
  background: var(--color-button-primary-pressed, #c81108);
  border-radius: 4px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section10 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #b90a05);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text13 {
  color: var(--color-button-secondary, #b90a05);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text14 {
  color: var(--color-button-secondary, #b90a05);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section11 {
  background: var(--color-button-secondary-hovered, rgba(255, 55, 45, 0.1));
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #b90a05);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section12 {
  background: var(--color-button-secondary-pressed, rgba(255, 55, 45, 0.15));
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #b90a05);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section13 {
  background: var(--color-surface-ok, #00853c);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text15 {
  color: var(--color-on-surface-ok, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text16 {
  color: var(--color-on-surface-ok, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section14 {
  background: var(--color-surface-primary, #ffffff);
  border-style: solid;
  border-color: var(--color-outline, #4f4f4f);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text17 {
  color: var(--color-text-ok, #00853c);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section15 {
  background: var(--color-surface-warning, #ff9402);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text18 {
  color: var(--color-on-surface-warning, #000000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text19 {
  color: var(--color-on-surface-warning, #000000);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text20 {
  color: var(--color-text-warning, #dd3702);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section16 {
  background: var(--color-surface-error, #eb140a);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text21 {
  color: var(--color-on-surface-error, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text22 {
  color: var(--color-on-surface-error, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section17 {
  background: var(--color-surface-primary, #ffffff);
  border-style: solid;
  border-color: var(--color-outline-error, #eb140a);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text23 {
  color: var(--color-text-error, #eb140a);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text24 {
  color: var(--color-outline-error, #eb140a);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section18 {
  background: var(--color-highlight, #eb140a);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text25 {
  color: var(--color-on-highlight, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text26 {
  color: var(--color-on-highlight, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section19 {
  background: var(--color-selected, #3f1ee2);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text27 {
  color: var(--color-on-selected, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text28 {
  color: var(--color-on-selected, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section20 {
  background: var(--color-selected-hovered, #5234e5);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section21 {
  background: var(--color-selected-pressed, #5b3fe6);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section22 {
  background: var(--color-disabled, #f2f2f2);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text29 {
  color: var(--color-on-disabled, #bcbcbc);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text30 {
  color: var(--color-on-disabled, #bcbcbc);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section23 {
  background: var(--color-disabled-inverted, #bcbcbc);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text31 {
  color: var(--color-on-disabled-inverted, #f2f2f2);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text32 {
  color: var(--color-on-disabled-inverted, #f2f2f2);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section24 {
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section25 {
  background: var(--color-transparent-hovered, rgba(0, 0, 0, 0.1));
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section26 {
  background: var(--color-transparent-pressed, rgba(0, 0, 0, 0.15));
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.dark-theme {
  background: var(--color-surface-primary, #111111);
  padding: 128px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 960px;
  position: relative;
}

.dark {
  color: var(--color-text-primary, #ffffff);
  text-align: left;
  font-family: var(--display-medium-font-family, "A1Serif-Bold", sans-serif);
  font-size: var(--display-medium-font-size, 48px);
  line-height: var(--display-medium-line-height, 56px);
  font-weight: var(--display-medium-font-weight, 700);
  position: relative;
}

.section27 {
  background: var(--color-surface-primary, #111111);
  border-style: solid;
  border-color: var(--color-outline, #bcbcbc);
  border-width: 1px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text33 {
  color: var(--color-text-primary, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text34 {
  color: var(--color-text-secondary, #bcbcbc);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text35 {
  color: var(--color-text-primary, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section28 {
  background: var(--color-surface-secondary, #333333);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section29 {
  background: var(--color-surface-highlight-red, #460000);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text36 {
  color: var(--color-text-secondary-red, #fdc9c4);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section30 {
  background: var(--color-surface-highlight-blue, #291e74);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section31 {
  background: var(--color-surface-inverted, #ffffff);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text37 {
  color: var(--color-text-inverted, #000000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text38 {
  color: var(--color-text-inverted, #000000);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section32 {
  background: var(--color-surface-primary, #111111);
  border-style: solid;
  border-color: var(--color-outline, #bcbcbc);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 704px;
  position: relative;
}

.text39 {
  color: var(--color-link, #ff372d);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text40 {
  color: var(--color-link-hovered, #ff1b10);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text41 {
  color: var(--color-link-pressed, #ff0d01);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text42 {
  color: var(--color-link-visited, #fa8a80);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section33 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #ff372d);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text43 {
  color: var(--color-button-secondary, #ff372d);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text44 {
  color: var(--color-button-secondary, #ff372d);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section34 {
  background: var(--color-button-secondary-hovered, rgba(185, 10, 5, 0.1));
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #ff372d);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section35 {
  background: var(--color-button-secondary-pressed, rgba(185, 10, 5, 0.15));
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-button-secondary, #ff372d);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section36 {
  background: var(--color-surface-ok, #00b954);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text45 {
  color: var(--color-on-surface-ok, #000000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text46 {
  color: var(--color-on-surface-ok, #000000);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section37 {
  background: var(--color-surface-primary, #111111);
  border-style: solid;
  border-color: var(--color-outline, #bcbcbc);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text47 {
  color: var(--color-text-ok, #00b954);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section38 {
  background: var(--color-surface-warning, #dd3702);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text48 {
  color: var(--color-on-surface-warning, #ffffff);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text49 {
  color: var(--color-on-surface-warning, #ffffff);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text50 {
  color: var(--color-text-warning, #ff9402);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section39 {
  background: var(--color-surface-error, #ff372d);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text51 {
  color: var(--color-on-surface-error, #000000);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text52 {
  color: var(--color-on-surface-error, #000000);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section40 {
  background: var(--color-surface-primary, #111111);
  border-style: solid;
  border-color: var(--color-outline-error, #ff372d);
  border-width: 2px;
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text53 {
  color: var(--color-text-error, #ff372d);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text54 {
  color: var(--color-outline-error, #ff372d);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section41 {
  background: var(--color-selected, #7a8eff);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text55 {
  color: var(--color-on-selected, #291e74);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text56 {
  color: var(--color-on-selected, #291e74);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section42 {
  background: var(--color-selected-hovered, #a0aeff);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section43 {
  background: var(--color-selected-pressed, #b3beff);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section44 {
  background: var(--color-disabled, #333333);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text57 {
  color: var(--color-on-disabled, #4f4f4f);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text58 {
  color: var(--color-on-disabled, #4f4f4f);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section45 {
  background: var(--color-disabled-inverted, #4f4f4f);
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text59 {
  color: var(--color-on-disabled-inverted, #333333);
  text-align: left;
  font-family: var(
    --title-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--title-large-regular-font-size, 22px);
  line-height: var(--title-large-regular-line-height, 32px);
  font-weight: var(--title-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.text60 {
  color: var(--color-on-disabled-inverted, #333333);
  text-align: right;
  font-family: var(
    --label-large-regular-font-family,
    "A1Sans-Regular",
    sans-serif
  );
  font-size: var(--label-large-regular-font-size, 16px);
  line-height: var(--label-large-regular-line-height, 20px);
  font-weight: var(--label-large-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.section46 {
  background: var(--color-transparent-hovered, rgba(255, 255, 255, 0.1));
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.section47 {
  background: var(--color-transparent-pressed, rgba(255, 255, 255, 0.15));
  padding: var(--space-l, 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
